<div class="row">
  <div class="col-sm-12">
    <div class="card">
      <h3 class="card-header">Friends List</h3>
      <div class="card-block">
        <div class="row">
          <% @users.each do |user| %>
              <div class="col-sm-4">
                <div class="card">
                  <div class="card-block">
                    <h4>
                      <div class="card-title text-primary "><%= user.name %></div>
                    </h4>
                    <div class="card-text"><%= user.email %></div>
                  </div>
                  <div class="card-footer text-center">
                    <%= link_to nil, data: {confirm: 'Are you sure'}, class: 'btn btn-warning' do %>
                        <i class="fa fa-ban" aria-hidden="true"></i> Block
                    <% end %>
                    <%= link_to friendship_path(friend_id: user), method: :delete, data: {confirm: 'Are you sure'}, class: 'btn btn-danger' do %>
                        <i class="fa fa-minus-circle" aria-hidden="true"></i> Friend
                    <% end %>
                  </div>
                </div>
                <br>
              </div>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>
